/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
/*  background-color: #102849;*/
/*  color: white;*/
}

.webBG {
  background-color: #102849;
}

/* AppNavBar CSS */
#appNavBar {
  background: #36C9B3;
}

#appNavBar img {
    height: 3rem;
    border-radius: 1rem;
}


.cardHighlight {
  min-height: 100%;
  border-radius: 1.75rem !important;
  background: #1E5471 !important;
}

.borderStyle {
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 5rem;
  border-radius: 28px;
  border: 1px solid #000;
  background: #F9EDE7;
  box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.25);

}

.buttonStyle {
/*  min-width: 100%;*/
  margin-top: 2rem;
}

.link {
  text-decoration: none;
}

.tableHead {
  text-transform: uppercase;
}

/* Home Page */
.borderHighlight {
  border-radius: 28px;
  border: 1px solid #000;
  background: #F9EDE7;
  box-shadow: 0px 15px 5px 0px rgba(0, 0, 0, 0.25);
}

.borderHighlight h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.borderHighlight p {
  color: #28150B;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.borderHighlight .btnStyle {
  border-radius: 1.25rem;
  background: #1E5471;
  color: white;
}

#home-page img {
  height: 11rem;
  margin-top: 30px;
}



/*FeaturedProducts CSS*/
#featuredNames {
  text-decoration: none;
  color: #41BEB1;
}

/* Products page */
.txt-price {
  color: #FE9816;
  font-size: 1.5rem;
}

.orderlist {
  background-color: #FE9816 !important;
}